
.commentInput {
  display: flex;
  justify-content: space-between;
}

.commentInput_textarea {
  border: none;
  max-width: 550px;
  width: 100%;
  resize: none;
  margin: 20px 0px;
  
}

.commentInput_textarea:focus {
  outline: none;
  
}

.commentInput_btn {
  background-color: whitesmoke;
  border: none;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.commentInput__btn:focus {
  outline: none;
}